// colors
$primary-color: #23395B;
$secondary-color: #63A088;
$accent-color: #DA2C38;
$background-color: #93A8AC;
$white: #ffffff;

// fonts
$font-header: 'Open Sans', sans-serif;
$font-primary: 'Roboto', sans-serif;
